<% layout('boilerplate') -%>
<% stylesheet('/stylesheets/progress.css') -%>
<% script('/script/progress.js') -%>
<div class="splash">
  	<div class="container">
 		<div class="row">
            <div class="col-lg-12">
                <div class="alert  alert-danger center">
                    <h2>Error!</h2>
                    <p>We cannot find the page you're looking for</p>
                </div> 
            </div>
        </div>
  	</div>
</div>