<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Habitor - A Practical way to make a habit</title>
    <meta name="viewport" content="width=device-width", initial-scale="1.0">
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
    <link href="/stylesheets/socialbuttons.css" rel="stylesheet">
    <link href="/stylesheets/habitor.css" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <link href="http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,500italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700,300italic,500italic,700italic" rel="stylesheet" type="text/css">
    
  </head>
  <body>
    <script type="text/javascript" src='/script/habitor.js'></script>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
              <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="brand" href="#">Habitor</a>
                <div class="nav-collapse collapse">
                  <ul class="nav">
                      <li class="active"><a href="#">Home</a></li>
                      <li><a href="#about">About</a></li>
                      <li><a href="#contact">Contact</a></li>
                  </ul>
                </div><!--/.nav-collapse -->
            </div>
          </div>
      </div>

      <div class="container">
      <div class="row-fluid heading">
        <div class="span12">
          <h1> Habitor </h1>
        </div>
      </div>
      <%-body -%>
    </container>
  </body>
</html>