<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Habitized - A Practical way to make a habit</title>
    <meta name="viewport" content="width=device-width", initial-scale="1.0">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
    <link href="/stylesheets/socialbuttons.css" rel="stylesheet">
    <link href="/stylesheets/habitor.css" rel="stylesheet">
    <link href="/stylesheets/bootstrap.css" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <link href="http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,500italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700,300italic,500italic,700italic" rel="stylesheet" type="text/css">
    <%-scripts%>
    <%-stylesheets%>
  </head>
  <body>
    <script type="text/javascript" src='/script/habitor.js'></script>
   <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="/" class="navbar-brand"><img src='/image/yoga.png'></img>Habitized</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li class='active'>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="/doc/theory">Theory</a>
            </li>
            <li>
              <a href="/doc/about/">About</a>
            </li>
            <li>
              <a href="/doc/contact">Contact</a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><%-blocks.signinout%></li>
          </ul>

        </div>
      </div>
    </div>
    <%-body -%>
    <div class='container'>
    <footer>
        <div class="row">
          <div class="col-lg-12">
            
            <ul class="list-unstyled">
              <li class="pull-right"><a href="#top">Back to top</a></li>
              <li class='active'>
                <a href="/">Home</a>
              </li>
              <li>
                 <a href="/doc/theory">Theory</a>
              </li>
              <li>
                <a href="/doc/about/">About</a>
              </li>
              <li>
                <a href="/doc/contact">Contact</a>
              </li>
            </ul>
            <p>Created by <a href="http://thomaspark.me">Harry Gao</a> Contact him via <a href="mailto:harrygao.oz@gmail.com">harrygao.oz@gmail.com</a>.</p>
            <p>The habit framework is the idea of Dr. Charles Duhigg, refer to his book <a href='http://www.amazon.com/The-Power-Habit-Business-ebook/dp/B0055PGUYU'> The power of habit </a> for more information.</p>
          </div>
        </div>   
      </footer>
    </div>
  </body>
</html>