     <div class="container">
      <div class="row-fluid heading">
        <div class="span12">
          <h1> Habitor </h1>
        </div>
      </div>
      <!--@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-->
      <div>
        <table id='progress'>
            <tr >
              <td><span class='days'>Day 1</span><img src='/image/done1.gif'/></td>
              <td><span class='days'>Day 2</span><img src='/image/done1.gif'/></td>
              <td><span class='days'>Day 3</span><img src='/image/done1.gif'/></td>
              <td><span class='days'>Day 4</span><img src='/image/done1.gif'/></td>
              <td><span class='days'>Day 5</span><img src='/image/done1.gif'/></td>
              <td><span class='days'>Day 6</span><img src='/image/finish.jpg'/></td>
              <td></td>
            </tr>
            <tr >
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr >
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
        </table>
        <table>
            <tr >
              <td>2</td>
              <td>2</td>
              <td>2</td>
              <td>2</td>
            </tr>
        </table>
      </div>  
      <!--@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-->
    </div>

	<div id='hour'></div>
    <div id='min'></div>
    <div id='sec'></div>