<% layout('boilerplate') -%>
<div class="splash">
      <div class="container">

        <div class="row">
          <div class="col-lg-12">
            <h1>A scentific way to make habits</h1>
            <div class="pitch">
            </div>

            
            <div>
              <p>
              <a href="auth/facebook" class="facebook">
                <button class="btn btn-primary btn-lg btn-facebook">
                  <i class="icon-facebook-sign"></i> | Sign-in with Facebook
                </button>
              </a>
            </p>
            </div>
            <div class="row">
            <div class="col-lg-12">
              <div class="alert alert-dismissable alert-custom">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <p>To motivate yourself, your commitment to make the habit, as well as your daily progress, will be posted to Facebook</p>
              </div>
            </div>
        </div>

          </div>
        </div>
      </div>
</div>

<div class="section-tout">
      <div class="container">

        <div class="row">
          <div class="col-lg-4 col-sm-6">
            <h3><i class="icon-bullseye"></i> Why habit is important</h3>
            <p> Your life today is essentially the sum of your habits. </p>
            <p>What you repeatedly do (i.e. what you spend time thinking about and doing each day) ultimately forms the person you are, the things you believe, and the personality that you portray.</p>

          </div>
          <div class="col-lg-4 col-sm-6">
            <h3><i class="icon-cogs"></i> How a habit is formed</h3>
            <p>Every habit you have — good or bad — follows the same 3–step pattern.

            <p> 1. Reminder (the trigger that initiates the behavior) </p>
            <p> 2. Routine (the behavior itself; the action you take) </p>
            <p> 3. Reward (the benefit you gain from doing the behavior)</p>
          </div>
          <div class="col-lg-4 col-sm-6">
            <h3><i class="icon-wrench"></i> How can <b>Habitized</b> help </h3>
            <p>1. Define your habit use the Reminder-Routine-Reward pattern</p>
            <p>2. Or, you can choose what other people're trying</p>
            <p>3. Track your progress in 21 days </p>
            <p>4. Public announcement of your progress (via facebook) in order to give you the motivation and peer-pressure to continue
          </div>
        </div>

      </div>
</div>