<% layout('boilerplate') -%>
<div class="splash">
      <div class="container">

        <div class="row">
          <div class="col-lg-12">
            <h1>A scentific way to make habits</h1>
            <div class="pitch">
            </div>

            
            <div>
              <p>
              <a href="auth/facebook" class="facebook">
                <button class="btn btn-primary btn-lg btn-facebook">
                  Start with  <i class="icon-facebook"></i>| Facebook
                </button>
              </a>
            </p>
            </div>
          </div>
        </div>
      </div>
</div>

<div class="section-tout">
      <div class="container">

        <div class="row">
          <div class="col-lg-4 col-sm-6">
            <h3><i class="icon-cogs"></i> How a habit is formed</h3>
            <p>Simply download a CSS file and replace the one in Bootstrap. No messing around with hex values.</p>
            <p>Simply download a CSS file and replace the one in Bootstrap. No messing around with hex values.</p>
          </div>
          <div class="col-lg-4 col-sm-6">
            <h3><i class="icon-wrench"></i> What can habitor help</h3>
            <p>Bootstrap themes are licensed under Apache 2.0 and maintained by the community on <a target="_blank" href="https://github.com/thomaspark/bootswatch">GitHub</a>.</p>
            <p>Bootstrap themes are licensed under Apache 2.0 and maintained by the community on <a target="_blank" href="https://github.com/thomaspark/bootswatch">GitHub</a>.</p>
          </div>
          <div class="col-lg-4 col-sm-6">
            <h3><i class="icon-info"></i> Other tips</h3>
            <p>Themes are built for the latest version of Bootstrap. <a href="http://bootswatch.com/2/">Version 2.3.2</a> and <a target="_blank" href="https://github.com/thomaspark/bootswatch/tags">older</a> are 
              also available to download.</p>  
              <p>Themes are built for the latest version of Bootstrap. <a href="http://bootswatch.com/2/">Version 2.3.2</a> and <a target="_blank" href="https://github.com/thomaspark/bootswatch/tags">older</a> are </p>
          </div>
        </div>

      </div>
</div>