<% layout('../../../views/boilerplate') -%>
<% stylesheet('/stylesheets/progress.css') -%>
<% script('/script/progress.js') -%>
<div class="splash">
  <div class="container">
    <div class="row">
      <h1>
        Failed
      </h1>
      <div class="col-lg-12">
        <div class="alert alert-dismissable alert-danger">
          <strong>Oops</strong> You failed to follow your plan everyday. You can <a href="/myhabit/retry"
            class="alert-link">Retry the habit</a> Or <a href="/myhabit/new" class="alert-link">start another
              one </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section-tout">
  <%-partial('calendar', {lasted:status.lasted, startDate:startDate}) %>
</div>