<% layout('../../../views/boilerplate') -%>
<% stylesheet('/stylesheets/progress.css') -%>
<% script('/script/newform.js') -%>
<div id="fb-root">
</div>
<div class="splash">
    <div class="container">
        <div class="row">
            <h2>
                Define your own habit
            </h2>
            <h2>
                OR</h2>
            <h2>
                Choose from <a href="/habit/lists">essential habits</a>
            </h2>
        </div>
        <div class="row">
            <div class="col-xs-0 col-sm-2 col-md-3 col-lg-4"></div>
            <div class="col-xs-12 col-sm-8 col-md-6  col-lg-4 left">
                <ul id="tip">
                    <li>Follow the Reminder-Routine-Reward process</li>
                    <li>Continue in 21 days</li>
                    <li>Start simple, start tiny</li>
                </ul>
            </div>
            <div class="col-xs-0 col-sm-2 col-md-3 col-lg-4"></div>
        </div>
    </div>
</div>

<%-partial('newform', {categories: categories, showWarning: showWarning}) %>