<% layout('../../../views/boilerplate') -%>
<div class="splash">
      <div class="container">

        <div class="row">
          <div class="col-lg-12">
            <h1>A scentific way to make habits</h1>
            <div class="pitch">
            </div>

            <%-partial('mystatus', {known: known}) %>

           
            <div class="row">
            <div class="col-lg-12">
              <div class="alert alert-custom">
                <p>To motivate yourself, your commitment to make the habit, as well as your daily progress, will be posted to Facebook</p>
              </div>
            </div>
        </div>

          </div>
        </div>
      </div>
</div>

<div class="section-tout">
      <div class="container">

        <div class="row">
          <div class="col-lg-12">
            <div class='center'>
              <h2><i class="icon-bullseye"></i> About Habitized</h2>
            </div>
            <p> Most of us realize the importance of habit. However it is very difficult to make or break a habit. As the best selling author Seth Godin once said: </p>
            <p class='quotation'>"Your audacious life goals are fabulous. We're proud of you for having them. But it's possible that those goals are designed to distract you from the thing that's really frightening you -- the shift in daily habits that would mean a re-invention of how you see yourself."</p>
            <p>A lot of reseraches have been conducted by psychologist and neurologist, and a lot of theories about making habit formed. Among those theories, some of them are proved to be effective and helpful by the practice of a large amount of people:</p>
            <ul>
              <li><a href='/doc/theory'>The Reminder-Routing-Reward (Cue-Routine-Reward) framework by Charles Duhigg</a></li>
              <li><a href='/doc/theory'>Public commitment as a motivator for behavior change</a></li>
            </ul>
            <p>Habitized is a tool to help you form/break a habit by:</p>
            <p>1. Define your Reminder-Routing-Rewards based habit to practice</p>
            <p>2. Tracking your effort for 21 days </p>
            <p>3. Automatically publish your progress to facebook so that you have the motivation to keep going</p>

            <p>If you have any ideas or advices, don't hezitate to <a href='mailto:harrygao.oz@gmail.com'>contact us </a> <p>
          </div>
        </div>
      </div>
</div>
