<% layout('../../../views/boilerplate') -%>

<%-partial('../../../views/mystatus', {known: known}) %>

<div class="section-tout">
      <div class="container">

        <div class="row">
          <div class="col-lg-12">
          <div class='center'>
              <h2><i class="icon-bullseye"></i> Contact</h2>
            </div>
            <p> Thanks for the interest in Habitized, please <a href='mailto:harrygao.oz@gmail.com'>contact me</a> if you have any suggestions or feedback. 
          </div>
        </div>
      </div>
</div>
