<%if (known) { %>
 <div>
	<p>
	  <a href="/auth/facebook" class="facebook">
	    <button class="btn btn-primary btn-lg btn-facebook">
	      	<i class="icon-facebook-sign"></i> | Sign-in with Facebook
	    </button>
	  </a>
	</p>
</div>
<% block('signinout', '<a href="/auth/facebook">Sign-in</a>') -%>
<% } else { %>
	<div>
		<p>
		  <a href="/myhabit" class="facebook">
		    <button class="btn btn-success btn-lg">
		      	My Habit
		    </button>
		  </a>
		</p>
	</div>
	<% block('signinout', '<a href="/user/signout">Sign-out</a>') -%>
<% }%>