<% layout('../../../views/boilerplate') -%>
<div class="splash">
      <div class="container">

        <div class="row">
          <div class="col-lg-12">
            <h1>A scentific way to make habits</h1>
            <div class="pitch">
            </div>

            <%-partial('../../../views/mystatus', {known: known}) %>

           
            <div class="row">
            <div class="col-lg-12">
              <div class="alert alert-custom">
                <p>To motivate yourself, your commitment to make the habit, as well as your daily progress, will be posted to Facebook</p>
              </div>
            </div>
        </div>

          </div>
        </div>
      </div>
</div>

<div class="section-tout">
      <div class="container">

        <div class="row">
          <div class="col-lg-12">
            <div class='center'>
              <h2><i class="icon-bullseye"></i>Theories to form a habit</h2>
            </div>
            <h3 id='th1'>The Reminder-Routing-Reward (Cue-Routine-Reward) framework</h3>
            <p>The framework is from Dr. Charles Duhigg's best-selling book <a href='http://www.amazon.com/The-Power-Habit-What-Business/dp/1400069289'>The Power of Habit </a> </p>
            <p>
            The MIT researchers discovered a simple neurological loop at the core of every habit, a loop that consists of three parts: A cue (reminder), a routine and a reward.</p>
            <div class='center'>
            	<img src='/image/pitch.png'>
            </div>
            <p>
				A habit essentially is a formula our brain automatically follows: When I see CUE, I will do ROUTINE in order to get a REWARD. For example, every day in 3:00pm, I will go to the cafeteria for a cookie. 
            </p>
            <p> The first step in this framework is to identify the routine, the behavior you want to form or break. In the above example, it is "go to the cafeteria for a cookie"</p>
            <p>Second step is to experiment with rewards. The rewards may not be as obvious as the routine. In the above example, the rewards can be "to relax", "to socialize", "to temporary distract from work", or simply "to have a energy burst". You might need to do some experiment a few days to figure out the real reward behind your routine</p>
            <p>Finally, you have to find a Reminder, a cue that reminds you to start a routine. Experiments have shown that almost all habitual cues fit into one of five categories:
            <ul> 
            <li>Location</li>
            <li> Time </li>
            <li> Emotional State </li>
            <li> Other People </li>
            <li>Immediately preceding action</li>
            </ul>
            </p>
            <h3 id='th2'> Public commitment as a motivator for behavior change </h3>
            <p> Commitment making is commonly regarded as an effective way to promote behavior change. The general idea is that when people commit to a certain behavior, they adhere to their commitment, and this produces long-term behavior change.</p>
            <p>The commitment hinges on social pressure working against the possibility of failure.  If someone doesn’t succeed, or at least make substantial progress toward the goal, everyone will know it. People who make public commitments feel obligated to follow through on their commitments or risk cognitive dissonance or social rejection.</p> 
            <h3 id='th3'> 21 days to form a habit </h3>
            <p> A lot of people believe that habits are formed by completing a task for 21 days in a row. It might not be necessarily true. If you repeat a behavior often enough, those synaptic pathways are going to get worn in. The human brain is a very adaptive piece of machinery. But does that take 21 days? Who knows? Everyone's brain is different, and habit formation also relies on aspects of experience and personality. </p>
            <p>It is commonly believed though that to form or break a habit, 21 days is a minimum. Habitized will record 21 days' of your progress for you. After that we hope you will keep your routine and form/break the habit successfully as you wish.
            </p>
          </div>
        </div>
      </div>
</div>
