/* large desktop */
@media(min-width: 980px){
	body {
		padding-top: 40px;
	}
	.linediv-l {
		border-right: 1px white solid;
	}
	.linediv-r {
		border-left: 1px white solid;
	}
}

@media (max-width: 979px)
{
    .headercontainer 
	{
	    margin-top: -20px;
	}
}

@media (max-width: 767px)
{
    .headercontainer 
	{
	    margin-left: -20px;
	    margin-right: -20px;
	}
}
/* landscape phone */
@media(max-width: 480px){
	.copy {
		padding: 2.5% 10%;
	}
	.linediv-l {
		border-bottom: 1px white solid;
	}
	.linediv-r {
		border-top: 1px white solid;
	}
	.headercontainer 
	{
	    margin-top: -20px;
	    margin-left: -20px;
        margin-right: -20px;
	}
}

/* all form factors */
/* main body and headings */
body{
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.headercontainer{
	background-color: #372f2d;
	color: white;
}
.heading, .subheading{
	font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
	text-align: center;
	vertical-align: middle;
}

.pic{
	height: 400px;
	background-image: url('/image/habit.jpg');
	background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
p.lead{
	padding-top: 1.5%;
	font-size: 24px;
	line-height: 30px;
}
p{
	font-size: 18px;
	line-height: 24px;
}

/*video pitch and action*/
.pitch {
	padding: 2.5% 0%;
}
.order{
	padding: 2% 0%;	
}
.actions{
	background-color: #343434;
	padding: 3% 0%
}
.video, .thermometer, .order, .social, .statistics {
	text-align: center;
}
.statistics h3, .statistics p {
	color: white;
}

/* marketing copy and footer*/
.copy{
	padding-top: 2.5%;
	padding-bottom: 2.5%;
	text-align: justify;
}
.asset{
	padding: 2.5% 0%;
}
.footer{
	color: #cccccc;
	text-align: center;
}
.footer p{
	font-size: 11px;
}
.footer a{
	color: #ccccff
}

.red{
	color: #ff0000
}

.error{
	color: red;
	font-size: 12px;
	line-height: 15px;
	margin-left: 5px;
	margin-top: -10px;
}