#progress{
	border: 0;
	margin: 0 auto;
}

#progress td{
	padding-top: 15px;
	padding-left: 10px;
	border : 0px solid;
	width: 95px;
    height: 110px;
    background-image: url('/image/calendar.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    position: relative;
}

#tip{
	list-style-position: inside;
	color: #aaaa00;
}

.days{
	margin-left: 22px;
	color: white;
	font-family:  Ubuntu, Helvetica, Arial, sans-serif;
	position: absolute;
	left: 7px;
	top: 25px;
}

.calendarcell img{
	padding-top: 25px;
}

