<div class="row-fluid">
	<div class="well span12">
        <table id='progress'>
           
        </table>
	</div>
 	<div class='hidden' id='values' lasted='<%=lasted%>' startDate='<%=startDate%>'></div>  
 </div>