<% layout('../../../views/boilerplate') -%>

<div id="fb-root"></div>
<script>
  
</script>


<script>
    $(function(){
        
    });
</script>

<h1>create a habit </h1>

<form id="create_habit" action='/habit/create' title="" method="post">
        <div>
            <label class="title">Goal</label>
            <input type="text" id="goal" name="goal" >
        </div>
        <div>
            <label class="title">Action</label>
            <input type="text" id="action" name="action" >
        </div>
        <div>
            <input type="submit" id="submitButton"  name="submitButton" value="Submit">
        </div>
 </form>

 <button id='test'>test</button>