<% layout('../../../views/boilerplate') -%>
<% stylesheet('/stylesheets/progress.css') -%>
<div id="fb-root">
</div>
<div class="splash">
    <div class="container">
        <div class="row">
            <h2>
                Define your own habit
            </h2>
            <h2>
                OR</h2>
            <h2>
                Choose from <a href="#">what others are doing</a>
            </h2>
        </div>
        <div class="row">
            <div class="col-xs-0 col-sm-2 col-md-3 col-lg-4"></div>
            <div class="col-xs-12 col-sm-8 col-md-6  col-lg-4 left">
                <ul id="tip">
                    <li>Follow the Reminder-Routine-Reward process</li>
                    <li>Continue in 21 days</li>
                    <li>Start simple, start tiny</li>
                </ul>
            </div>
            <div class="col-xs-0 col-sm-2 col-md-3 col-lg-4"></div>
        </div>
    </div>
</div>
<div class="section-tout">
    <div class = "container">
        <div class="row">
            <div class="col-xs-0 col-sm-2 col-md-3 col-lg-3"></div>
            <div class="col-xs-12 col-sm-8 col-md-6  col-lg-6 left">
              <form class="form-horizontal">
                <fieldset>
                  <legend style='margin-left:10px;'>A habit you'd like to have</legend>
                  <div class="form-group">
                    <label class="col-lg-3 control-label" for='trigger'>Reminder</label>
                     <div class="col-lg-9">
                            <input type="text" id="trigger" name="trigger" placeholder='a trigger happens' class='form-control'>
                      </div>
                    
                </div>
                <div class="form-group"> 
                    <label class="col-lg-3 control-label" for='action'>
                        I will</label>
                    <div class="col-lg-9">
                        <input type="text" id="action" name="action" placeholder='do some action routinely' class='form-control'>
                    </div>
                </div>
                <div class="form-group" for='goal'>
                    <label class="col-lg-3 control-label">So that
                    </label>
                    <div class="col-lg-9">
                    <input type="text" id="goal" name="goal" placeholder='I achieve a positive change' class='form-control'>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label" for='startDate'>Start Date:
                    </label>
                    <div class="col-lg-9">
                     <input type="date" id="startDate" name="startDate" class='form-control'>
                    </div>
                </div>
                <div class='alert alert-danger invisible' id='error-msg'>
                </div>
                <div class="form-group center">
                    <input type="submit" id="submitButton" name="submitButton" value="Make a commitment"
                        class="btn btn-info">
                </div>
                </fieldset>
              </form>
              <div class="col-xs-0 col-sm-2 col-md-3 col-lg-3"></div>
            </div>
        </div>
        </div>
    </div>
</div>


<!-- <div class="col-lg-12">
                <form class="form-horizontal" id="create_habit" title="" method="post">
                <div>
                    <label class="title">
                        When <span><a class="explain" href='#'>what is a trigger?</a></span></label>
                    <input type="text" id="trigger" name="trigger" placeholder='a trigger happens'>
                </div>
                <div>
                    <label class="title">
                        I will <span><a class="explain" href='#'>what is an routine?</a></span></label>
                    <input type="text" id="action" name="action" placeholder='do some action routinely'>
                </div>
                <div>
                    <label class="title">
                        So that <span><a class="explain" href='#'>what is reward?</a></span>
                    </label>
                    <input type="text" id="goal" name="goal" placeholder='I achieve a positive change'>
                </div>
                <div>
                    <label calss="title">
                        Start Date</label>
                    <input type="date" id="startDate" name="startDate">
                </div>
                <div>
                    <input type="submit" id="submitButton" name="submitButton" value="Make a commitment"
                        class="btn btn-warning">
                </div>
                </form>
            </div>-->