<% layout('../../../views/boilerplate') -%>

<div id="fb-root"></div>
<div id='container'>
    <div class="row-fluid section1">
        <div class="span12 heading">
            <h1>
                Create a habit to follow
            </h1>
        </div>
    </div>
    <div class="row-fluid section1">
        <div class="span4 well offset4">
        <legend>Start simple, start tiny</legend>
        <form id="create_habit" title="" method="post">
            <div>
                <label class="title">When <span><a class="explain" href='#'> what is a trigger?</a></span></label> 
                <input type="text" id="trigger" name="trigger" placeholder='a trigger happens'>
            </div>
            <div>
                <label class="title">I will <span><a class="explain" href='#'> what is an routine?</a></span></label>
                <input type="text" id="action" name="action" placeholder='do some action routinely'>
            </div>
            <div>
                <label class="title">So that <span><a class="explain" href='#'> what is reward?</a></span> </label>
                <input type="text" id="goal" name="goal" placeholder='I achieve a positive change'>
            </div>
            <div>
                <label calss="title">Start Date</label>
                <input type="date" id="startDate" name="startDate" >
            </div>
            <div>
                <input type="submit" id="submitButton"  name="submitButton" value="Make a commitment" class="btn btn-warning">
            </div>
         </form>
        </div>
    </div>
</div>