<% layout('../../../views/boilerplate') -%>
<% stylesheet('/stylesheets/progress.css') -%>
<% script('/script/progress.js') -%>
     <div class="container">
      <div class="row-fluid heading">
        <div class="span12">
          <h1> Habitor </h1>
        </div>
      </div>
      <!--@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-->
      <div>
        <table id='progress'>
           
        </table>
      </div>  
      <!--@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-->
      <button id='today_done'>Done</button>
    </div>

    <div class='hidden' id='values' lasted='<%=status.lasted%>' startDate='<%=startDate%>'></div>