<% layout('../../../views/boilerplate') -%>
<% stylesheet('/stylesheets/progress.css') -%>
<% script('/script/progress.js') -%>
     <div class="container">
      <div class="row-fluid heading">
        <div class="span12">
          <h1> On track </h1>
        </div>
      </div>
      <%-partial('calendar', {lasted:status.lasted, startDate:startDate}) %>
    </div>

   