<% layout('../../../views/boilerplate') -%>
<% stylesheet('/stylesheets/progress.css') -%>
<% script('/script/progress.js') -%>
     <div class="container">
      <div class="row-fluid heading">
        <div class="span12">
          <h1> In progress </h1>
        </div>
      </div>
      <%-partial('calendar', {lasted:status.lasted, startDate:startDate}) %>
      
      <button id='today_done'>Done</button>
    </div>